html
  head
    link(rel="stylesheet" type="text/css" href="/styles/style.css")
    title= title
  body
    h1(id="header")
      |  Food Order 
    h2= item.name
    p(class="food-property") Size: #{item.getSizeString()}
    p(class="food-property") Calories: #{item.calories}
    p(class="food-property") Price: £#{item.price.toFixed(2)} 
